body{
    font-family: Arial;
}

#dSopra{
    border: 5px solid black;
    border-style: dashed;
    position: relative;
    margin: 40px;
    text-align: center;
}

#dDentro{
    border: 5px solid red;
    border-top-style: dashed;
    position: relative;
    width: 470px;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 380px;
    color: green;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

fieldset{
    border: 5px solid grey;
    position: relative;
    border-style:ridge;
    width: 95px;
    height: 160px;
    margin-top: -200px;
    margin-left: 880px;
}

#textGiustificato{
    position: relative;
    margin-top: -20px;
    margin-left: 40px;
    color: red;
    width: 1400px;
    text-align: justify;
    text-align-last: justify;
}

#dCentro1{
    border: 5px solid black;
    width: 1000px;
    margin-top: 50px;
    margin-left: 250px;
    padding-top: 20px;
    padding-left: 15px;
}

#dCentro1 h3{
    font-size: 25px;
}